<div class="page page-select">
	<h1 class="page-header">Test Cases</h1>
	<p class="lead">Select a test case to view metrics</p>
	<ul class="suites list-unstyled">
		<li ng-repeat="(suite, pages) in pageselect.pagelist">
			<h3>
				<span class="fa fa-folder-open"></span>
				{{suite}}
			</h3>
			<div class="row">
				<div class = "col-md-4"  ng-repeat="(page, browsers) in pages">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<span class="icon-calendar"></span> <strong>{{page}}</strong>
							</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="val in browsers">
								<a ng-href="#/summary/{{page}}/{{val.browser}}">
									<span class="icon-{{val.browser}}"></span>
									{{val.browser}}
									<span class="badge pull-right" title="Number of commits/deploys">{{val.runCount}}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>