<div class="page metric-detail">
	<h1 class = "page-header" ng-cloak>
		{{metric.name | formatMetric}}
		<a class="metric-help" title="{{metric.summary}}" ng-click="showHelp=!showHelp">
			<span ng-hide="showHelp">?</span>
			<span ng-show="showHelp">-</span>
		</a>
		<small class="page-details pull-right">
			{{pagename}} (
			<span title="{{browser}}" class="icon-{{browser}}"></span>
			)
			<a class="btn btn-xs btn-primary" href="#/page-select" title="Select a different page or browser">change</a>
		</small>
	</h1>
	<div class="explanation" ng-show="showHelp">
		<p class="metric-summary"> <em>Details:</em>
			{{metric.metadata.summary}}
			<br/> <em>Unit:</em>
			{{metric.metadata.unit}}
			|
			<em>Source:</em>
			{{metric.metadata.source}}
			|
			<em>Supported Browsers:</em>
			<span ng-repeat="browser in metric.metadata.browsers">
				{{browser}}
				<span ng-if="!$last">,</span>
			</span>
		</p>
		<p class="metric-details">{{metric.metadata.details}}</p>
	</div>
	<div class="graph-modifiers" ng-cloaak>
		<div ng-show="1 < metric.stats.length " class="pull-left"> <strong>Stat Type :</strong>
			<label class="radio-inline">
				<input type="radio" name="stat" value="" ng-model="modifier.stat"/>
				total
			</label>
			<label class="radio-inline" ng-repeat="statval in metric.stats" >
				<input type="radio" name="stat" value="_{{statval}}" ng-model="modifier.stat"/>
				{{statval}}
			</label>
		</div>
		<div class="pull-right"> <strong>Show last :</strong>
			<label class="radio-inline" ng-repeat="limit in [10,20,40,'all']" >
				<input type="radio" name="limit" value="{{limit}}" ng-model="modifier.limit"/>
				{{limit}}
			</label>
		</div>
	</div>
	<pj-metrics-details-graph class="clearfix graph" style="height:{{metric.height}}px" data="metric.data" unit="metric.metadata.unit">
		<span class="graph-error">
			<h1>
				{{data}}
				<span class="icon-attention"></span>
				Could not plot graph
			</h1>
			This could be either due to insufficient data or error in data.
		</span>
	</pj-metrics-details-graph>
</div>