<div class="sidebar col-md-2 nav" ng-controller="SideBarCtrl as sidebar" ng-cloak>
	<div ng-if="!pagename || !browser" class="page-select">
		<h4>Select a page to view metrics</h4>
		<hr/>
	</div>
	<div ng-if="pagename && browser">
		<div class="metadata">
			<span class="browser icon-{{browser}}" title="Metrics collected on {{browser}}"></span>
			<h4> <strong title="{{pagename}}">{{pagename}}</strong>
			</h4>
			<a href = "#/page" class="btn btn-xs btn-primary">select</a>
		</div>
		<ul class="nav">
			<li>
				<a href="#/summary?pagename={{pagename}}&browser={{browser}}">
					<span class = "icon-gauge"></span>
					Summary
				</a>
			</li>
			<li ng-show="browser==='chrome'">
				<a ng-click="subMenu=(subMenu==='paint'?'':'paint')">
					<span class = "icon-brush"></span>
					Paint
					<span class="pull-right" ng-if="subMenu!=='paint'">+</span>
					<span class="pull-right" ng-if="subMenu==='paint'">-</span>
				</a>
				<ul class="nav sub-menu" ng-show="subMenu==='paint'">
					<li ng-repeat="metric in sidebar.categories.paint">
						<a ng-href="#/detail/{{pagename}}/{{browser}}/{{metric}}">
							<span class="icon-paintbucket"></span>
							{{metric | formatMetric}}
						</a>
					</li>
				</ul>
			</li>
			<li ng-show="browser==='chrome'">
				<a ng-click="subMenu=(subMenu==='content'?'':'content')">
					<span class = "icon-code"></span>
					Content
					<span class="pull-right" ng-if="subMenu!=='content'">+</span>
					<span class="pull-right" ng-if="subMenu==='content'">-</span>
				</a>
				<ul class="nav sub-menu" ng-show="subMenu==='content'">
					<li ng-repeat="metric in sidebar.categories.content">
						<a ng-href="#/detail/{{pagename}}/{{browser}}/{{metric}}">
							<span class="icon-file-code"></span>
							{{metric | formatMetric}}
						</a>
					</li>
				</ul>
			</li>
			<li ng-show="browser==='chrome'">
				<a ng-click="subMenu=(subMenu==='js'?'':'js')">
					<span class = "icon-cog-alt"></span>
					Javascript
					<span class="pull-right" ng-if="subMenu!=='js'">+</span>
					<span class="pull-right" ng-if="subMenu==='js'">-</span>
				</a>
				<ul class="nav sub-menu" ng-show="subMenu==='js'">
					<li ng-repeat="metric in sidebar.categories.js">
						<a ng-href="#/detail/{{pagename}}/{{browser}}/{{metric}}">
							<span class="icon-cog"></span>
							{{metric | formatMetric}}
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#/all-metrics?pagename={{pagename}}&browser={{browser}}">
					<span class = "icon-sort-alphabet-outline"></span>
					All metrics
				</a>
			</li>
		</ul>
	</div>
	<div class="help pj-brand">
		<!-- TODO Add help text -->
	</div>
</div>