.page.metric-detail {
	.graph {
		width: 100%;
		.graph-error{
			em{
				font-size: 2em;
				display: block;
				margin-bottom: 0.5em;
				font-style: normal;
			}
			padding-top: 2em;
			display: block;
			text-align: center;
			font-size: 1.5em;
		}
	}
}