<!DOCTYPE HTML>
<html ng-app="Perfjankie">
<head>
	<title>PerfJankie - Rendering Performance Analysis</title>
	<link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif'>

	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="lib/jqplot-bower/dist/jquery.jqplot.css" />
	<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">perfJankie</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/_utils">Database</a>
					</li>
					<li>
						<a href="http://github.com/axemclion/browser-perf"  target="_blank">browser-perf</a>
					</li>
					<li>
						<a href="http://github.com/axemclion/perfjankie"  target="_blank">Source</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class = "container-fluid content" ng-controller = "MainController">
		<div class = "row">
			<div class = "col-md-9 col-lg-9 col-sm-12 main">
				<div class = "row component-title">
					<div class = "col-md-12 col-lg-12">
						<div class="browsers" ng-controller = "BrowsersController">
							<ul class = "row list-inline">
								<li ng-repeat = "(browser, val) in metadata[selected.component]" ng-class = "{active: selected.browser==browser}">
									<a ng-click = "change(browser)" href = "#" data-browser = "{{browser}}" class = "thumbnail {{browser}}" title = "{{browser}}">
										<span class = "sr-only">{{browser}}</span>
									</a>
								</li>
							</ul>
						</div>
						<div class = "component" ng-controller = "ComponentsController">
							<ol class="breadcrumb" ng-cloak>
								<li>
									<a href = "#"  data-toggle="dropdown">
										<span>{{selected.component}}</span>
										<span class="caret"></span>
									</a>
									<ul class="component-list dropdown-menu">
										<li class = "component-list-item" ng-repeat = "(component, val) in metadata">
											<a href="#{{component}}" ng-click="change(component)">{{component}}</a>
										</li>
									</ul>
								</li>
								<li>{{selected.browser}}</li>
								<li class="active">{{selected.metric | formatMetric}}</li>
							</ol>
						</div>
					</div>
				</div>
				<div ng-controller = "ChartController" class = "chart-container">
					<div id= "chartDiv" ng-hide="error || loading"></div>
					<div ng-show="error" ng-cloak ng-show = "error && !loading" class = "error">
						<h2><span class = "glyphicon glyphicon-warning-sign"></span></h2>
						<h3>
						Cannot display the chart
						</h3>
						<p>{{error}}</p>
					</div>
					<div class = "loading" ng-show="loading && !error">
						<img src = "img/loading.gif"></div>
				</div>
			</div>
			<div class = "col-md-3 col-lg-3 col-sm-12 col-md-offset-9 col-lg-offset-9 sidebar" ng-controller = "SearchController">
				<div >
					<div class="search input-group input-group-sm">
						<form class = "form-inline" role = "form">
							<div class = "input-group">
								<input type="text" class="form-control" ng-model="search">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<span class = "glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
						</form>
					</div>
					<div class="panel panel-default metrics-list" ng-show="2 < search.length" ng-cloak>
						<div class="panel-heading"> <strong><span class = "glyphicon glyphicon-filter"></span>
								Filter</strong> 
							<button type="button" class="close" aria-hidden="true" ng-click="search=''">&times;</button>
						</div>
						<ul class="list-group results" ng-switch>
							<li class="list-group-item" ng-repeat = "val in metrics | filter:search">
								<a title = "{{val}}" href = "#{{val}}" ng-click = "change(val)" class = "individual-metric">
									<span class = "glyphicon glyphicon-chevron-left"></span>
									{{val}}
								</a>
							</li>
							<li class = "list-group-item" ng-hide="(metrics | filter:search).length">
								<a class = "individual-metric">
									<span class = "glyphicon glyphicon-zoom-out"></span>
									No Results found
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class = "metrics-list" ng-controller = "MetricsController" ng-cloak ng-hide="2 < search.length">
					<div class="panel panel-default categories" ng-hide = "selectedGroup">
						<div class="panel-heading"> <strong><span class = "glyphicon glyphicon-flag"></span>
								Metrics</strong> 
						</div>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat = "(key, val) in groups">
								<a ng-click = "$parent.selectedGroup = key" title = "{{ key }}" href = "#{{key}}" data-group = "{{key}}" class = "category">
									<span class = "glyphicon glyphicon-chevron-left"></span>
									{{key}}
								</a>
							</li>
						</ul>
					</div>
					<div ng-repeat = "(groupName, metrics) in groups">
						<div class = "panel panel-default individual-metrics" ng-show="selectedGroup === groupName">
							<div class="panel-heading">
								<strong>
									<a class = "category-goback" ng-click = "$parent.selectedGroup=null" href = "#metrics">
										<span class = "glyphicon glyphicon-chevron-up"></span>
										{{groupName | formatMetric }}
									</a>
								</strong>
							</div>
							<ul class="list-group">
								<li class="list-group-item" ng-repeat = "val in metrics">
									<a title = "{{val.key}}" href = "#{{val.key}}" ng-click = "selected.metric=val.key" class = "individual-metric" ng-class = "{active: selected.metric === val.key}">
										<span class = "glyphicon glyphicon-chevron-left"></span>
										{{val.key | formatMetric }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="lib/jqplot-bower/dist/jquery.jqplot.min.js"></script>
	<script type="text/javascript" src="lib/jqplot-bower/dist//plugins/jqplot.categoryAxisRenderer.min.js"></script>
	<script type="text/javascript" src="lib/jqplot-bower/dist//plugins/jqplot.highlighter.min.js"></script>
	<script type="text/javascript" src="lib/jqplot-bower/dist//plugins/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript" src="lib/jqplot-bower/dist//plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
	<script type="text/javascript" src="lib/jqplot-bower/dist//plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>

	<script type="text/javascript" src="js/graph.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/backend.js"></script>

	<script type="text/javascript">
		var chartHeight = window.innerHeight - ($('.navbar').height(), $('.component-title').outerHeight()) - 100;
		chartHeight = chartHeight < 300 ? 300 : chartHeight;
		$('#chartDiv').parent().height(chartHeight);
</script></body>
</html>