<!DOCTYPE HTML>
<html ng-app="perfjankie">
<head>
	<title>PerfJankie - Rendering Performance Analysis</title>

	<!-- build:remove:dist -->
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="jqplot-bower/dist/jquery.jqplot.min.css" />
	<!-- /build -->

	<!-- build:remove:dev -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- /build -->

	<link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body ng-controller="MainPageCtrl">
	<!-- build:include:dist app/main-page/navbar.html -->
	<div ng-include="'app/main-page/navbar.html'"></div>
	<!-- /build -->

	<!-- build:include:dist app/main-page/sidebar.html -->
	<div ng-include="'app/main-page/sidebar.html'"></div>
	<!-- /build -->

	<div class="container-fluid content-container">
		<div class="row">
			<div class="col-md-10 col-md-offset-2">
				<div class="content" ng-view ng-hide="pageError"></div>
				<div class="content" ng-show="pageError">
					<div class="jumbotron error">
						<h2>
							<span class="icon icon-attention"></span>
							Error loading page
						</h2>
						<p class="lead">
							An error occured when trying to load this page.
							<br/>
							Please
							<a onclick="document.location.reload()">refresh</a>
							this page, 
							or go back to the
							<a ng-click="goHome()">home page</a>
							.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-loading" ng-show="pageLoading">
		<div class="spin-container">
			<span class="icon-spin5 animate-spin"></span>
		</div>
	</div>

	<!-- build:remove:dev -->
	<script type="text/javascript" src = "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src = "//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
	<script type="text/javascript" src = "//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>
	<script type="text/javascript" src = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!-- /build -->

	<!-- build:remove:dist -->
	<script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="angular/angular.min.js"></script>
	<script type="text/javascript" src="angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="server/endpoints.js"></script>
	<script type="text/javascript" src="metrics.js"></script>
	<!-- /build -->

	<!-- build:template
	<% _.each(scripts, function(script){ %>
	<script type="text/javascript" src="<%= script%>"></script>
	<% }); %>
	/build -->
	<!-- -->
</body>
</html>