<!DOCTYPE HTML>
<html>
<head>
	<title>PerfJankie - Rendering Performance Analysis</title>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif' rel=' stylesheet' type='text/css'>
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="lib/jqplot/jquery.jqplot.css" />
	<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" id = "pageHeader">perfJankie</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/_utils">Database</a>
					</li>
					<li>
						<a href="http://github.com/axemclion/browser-perf"  target="_blank">browser-perf</a>
					</li>
					<li>
						<a href="http://github.com/axemclion/perfjankie"  target="_blank">Source</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class = "container-fluid content">
		<div class = "row">
			<div class = "col-sm-9 col-md-9 main">
				<div class = "row component-title">
					<div class = "col-sm-9 col-md-9 col-lg-9">
						<div class = "component">
							<a href = "#"  data-toggle="dropdown">
							<span id = "componentName"></span>
								<span class="caret"></span>
							</a>
							<ul class="component-list dropdown-menu" role="menu" aria-labelledby="componentList"></ul>
							<ul class = "component-list-template">
								<script type = "text/template" >
								<% _.each(components, function(component){%>
								<li class = "component-list-item" data-component = "<%= component %>">
									<a role="menuitem" href="#">
										<%= component %></a>
								</li>
								<% }); %></script>
							</ul>
						</div>
					</div>
					<div class = "col-sm-3 col-md-3 col-lg-3">
						<div class="browsers">
							<ul class = "row list-inline browsers">
								<li data-browser = "chrome" class = "chrome disabled">
									<a href = "#" data-browser = "chrome" class = "thumbnail">
										<span class = "sr-only">Chrome</span>
									</a>
								</li>
								<li data-browser = "firefox" class = "firefox disabled">
									<a href = "#" data-browser = "firefox" class = "thumbnail">
										<span class = "sr-only">Firefox</span>
									</a>
								</li>
								<li data-browser = "ie" class = "ie disabled">
									<a href = "#" data-browser = "ie" class = "ie disabled thumbnail">
										<span class = "sr-only">Internet Explorer</span>
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
				<div class = "page-title row">
					<h3 id = "metricTitle"></h3>
				</div>
				<div id = "chartDiv"></div>
			</div>
			<div class = "pull-right col-md-3 sidebar">
				<div class="search input-group input-group-sm">
					<form id = "searchForm" class = "form-inline" role = "form">
						<div class = "input-group">
							<input type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<span class = "glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</form>
				</div>
				<div id = "filter" class="hide panel panel-default metrics-list">
					<div class="panel-heading"> <strong><span class = "glyphicon glyphicon-filter"></span>
							Filter</strong> 
						<button type="button" class="close" aria-hidden="true">&times;</button>
					</div>
					<ul class="list-group results"></ul>

					<script type="text/template" class = "template hide">
						<li class="list-group-item">
							<a title = "<%= id %>" data-metric = "<%= id %>" href = "#<%= id %>" class = "filter-metric">
								<span class = "glyphicon glyphicon-chevron-left"></span>
								<%= name%></a>
						</li>
					</script>
				</div>
				<div class = "metrics-list" id = "metrics"></div>
				<script type="text/template" id = "metricsTemplate">
					<div class="panel panel-default categories">
						<div class="panel-heading"> <strong><span class = "glyphicon glyphicon-flag"></span>Metrics</strong>
						</div>
						<ul class="list-group">
							<% _.each(metrics, function(value, key){ %>
								<li class="list-group-item">
									<a title = "<%= key %>" href = "#<%= key %>" data-group = "<%= key %>" class = "category">
									<span class = "glyphicon glyphicon-chevron-left"></span><%= key %></a>
								</li>
							<% }) %></ul>
					</div>
					<% _.each(metrics, function(value, key){ %>
						<div class = "panel panel-default individual-metrics hide" data-category = "<%= key %>">
							<div class="panel-heading"> <strong><a class = "category-goback" href = "#metrics"><span class = "glyphicon glyphicon-chevron-up"></span><%= key %></a></strong> 
							</div>
							<ul class="list-group">
								<% _.each(value, function(m, id){ %>
									<li class="list-group-item">
										<a title = "<%= m.name %>" data-metric = "<%= id %>" href = "#<%= id %>" class = "individual-metric">
											<span class = "glyphicon glyphicon-chevron-left"></span>
											<%= m.name %></a>
									</li>
								<% }) %></ul>
						</div>
					<% }) %></ul>
				</script>
			</div>
		</div>
	</div>

	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<p></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js" type="text/javascript"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>

	<script type="text/javascript" src="lib/jqplot/jquery.jqplot.min.js"></script>
	<script type="text/javascript" src="lib/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
	<script type="text/javascript" src="lib/jqplot/plugins/jqplot.highlighter.min.js"></script>
	<script type="text/javascript" src="lib/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript" src="lib/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
	<script type="text/javascript" src="lib/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>

	<script src="app.js" type="text/javascript"></script>
</body>
</html>