.head-container {
	padding: 60px 15px 0;
}
.fileDraggedOver {
	border: #333 1px Dashed;
}
#wrap {
	margin-bottom: 2.5em;
}
#footer {
	height: 2em;
	margin-top: 2em;
	padding: 5px 0 0 0;
	background-color: #f5f5f5;
	position: fixed;
	width: 100%;
	bottom: 0;
	vertical-align: center;
}

.logo a{
	font-weight: bold;
	font-size: 2em;
}